*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.tex.kate-swp
*.spl
*.ps
*.out
*.dvi
*.soc
*.nav
*.toc
*.snm
*.acr
*.loc
*.lof
*.lot
*.maf
*.mtc*
*.zip
*.pdf
*.bak
!Images/*.pdf
!Images/**/*.pdf
Jose/*
bibliografia/*
token*

